@keyframes wave-animation {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  
  body {
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    background-size: 400% 400%;
    animation: wave-animation 10s ease infinite;
  }
  
